extends ../layout

block content
  h1 Please login
  if errors != ''
    p.errors
      = errors
  form(action="/login", method="POST" enctype="application/x-www-form-urlencoded")
      p
        label(for="username_input") Username 
        input#username(type="text", name="username")
      p 
        label(for="password_input") Password 
        input#password(type="password", name="password")
      
      button Submit